.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(228, 90, 90, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(82, 160, 211, 0.685);
}

.navbar-light .navbar-brand {
    color: rgba(216, 6, 6, 0.9);
}

.btn-outline-success {
    color: rgba(82, 160, 211, 0.685);
    border-color: rgba(82, 160, 211, 0.685);
}

.btn-outline-success:hover {
    color: #fff;
    background-color: rgba(82, 160, 211, 0.685);
    border-color: rgba(82, 160, 211, 0.685);
}